---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
    title: 'FunkeLab — unsere Geräte',
};
---

<Layout metadata={metadata}>
    <Hero>
        <Fragment slot="title">
            Unsere <span class="text-accent">Geräte</span> im FunkeLab
        </Fragment>

        <Fragment slot="subtitle">
            <span class="hidden sm:inline">
                Von <span class="font-bold">3D-Drucker</span> bis <span class="font-bold">Lasercutter</span>...</span
            >
        </Fragment>
    </Hero>

    <Content isReversed title="Coming soon!" />
</Layout>
