---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
    title: 'FunkeLab — unsere Geräte',
};
---

<Layout metadata={metadata}>
    <Hero>
        <Fragment slot="title">
            Die <span class="text-accent">Mitglieder</span> im FunkeLab
        </Fragment>
    </Hero>

    <Content isReversed title="Coming soon!" />
</Layout>
